<div class="container">
  <h4 class="my-3">You booked: </h4>
  <div class="card">
    <div class="row">
      <div class="col">
        <%= cl_image_tag(@castle.photos[0].key, class: "img-fluid rounded-start")%>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title"><%= @castle.name %></h5>
          <p class="card-text"><strong>From </strong><%= @booking.date_from %></p>
          <p class="card-text"><strong>To </strong><%= @booking.date_to %> </p>
          <p class="card-text">Enjoy the Bouncy Castle Experience !</p>
        </div>
      </div>
    </div>
  </div>
<%= link_to "Go to all your Bookings", dashboard_path, class: "btn btn-primary" %>
</div>
