<div class="container">
  <h2>Booking submitted!</h2>
  <div class="confirm-container">
    <%= cl_image_tag(@castle.photos[0].key)%>
    <div class="confirm-content ml-2">
      <h4>You booked: <h4>
      <br>
      <p> <%= @castle.name %> <p>
      <p> from <%= @booking.date_from %> </p>
      <p> to <%= @booking.date_to %> </p>
      <br>
      <br>
      <br>
      <p> Enjoy the Bouncy Castle Experience ! </p>
      <%= link_to "Go to all your Bookings", dashboard_path, class: "btn btn-primary my-3 booking-button" %>
    </div>
  </div>
</div>
