<div class="container">
  <h1>My castles</h1>
  <div class="row">
    <% @mycastles.each do |castle| %>
      <div class="col-4">
      <%= link_to(castle_path(castle)) do %>
        <div class="castle castle-overview">
          <div class="castle-img">
            <%= cl_image_tag(castle.photos[0].key)%>
          </div>
          <div>
            <h4><%= link_to castle.name, castle_path(castle), class: 'castle-link'%></h4>
          </div>
          <div class="d-flex justify-content-between">
          <%= link_to "Delete", delete_castle_path(castle), data: { "turbo-method": :delete }, class: "text-danger" %>
          <%= link_to "Edit", edit_castle_path(castle), class: "text-primary" %>
          </div>
        </div>
      <%end%>
      </div>
    <% end %>
  </div>
  <h1 class="my-4">Pending bookings</h1>
  <% @incomming_bookings.each do |booking| %>
    <% if booking.accepted == false %>
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
          <p><%= booking.comment %> UserID <%= booking.user_id %></p>
        </div>
        <div>
          <%= link_to "Decline", booking_path(booking), data: { "turbo-method": :delete }, class: "btn btn-danger" %>
          <%= link_to "Confirm", confirm_booking_path(booking), data: { turbo_method: :put, turbo_confirm: "Are you sure you want to confirm this booking?"}, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <h1 class="my-4">Accepted bookings</h1>
  <% @incomming_bookings.each do |booking| %>
    <% if booking.accepted %>
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
          <p><%= booking.comment %> UserID <%= booking.user_id %></p>
        </div>
        <p class="btn btn-light disabled">Confirmed</p>
      </div>
    <% end %>
  <% end %>

  <h1 class="my-4">My own bookings</h1>
  <% @mybookings.each do |booking| %>
    <% if booking.accepted %>
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
          <p><%= booking.comment %> UserID <%= booking.user_id %></p>
        </div>
        <p class="btn btn-light disabled">Pending</p>
      </div>
    <% end %>
  <% end %>
</div>
