<div class="container">
  <div class="d-flex align-items-center">
    <h3 class="my-5">My castles</h3>
    <%= link_to "Create new castle", new_castle_path, class: 'btn booking-button mx-5'%>
  </div>
  <div class="row">
    <% @mycastles.each do |castle| %>
      <div class="col-4">
      <%= link_to(castle_path(castle)) do %>
        <div class="castle castle-overview">
          <div class="castle-img">
            <%= cl_image_tag(castle.photos[0].key)%>
          </div>
          <div>
            <h4><%= link_to castle.name, castle_path(castle), class: 'castle-link'%></h4>
          </div>
          <div class="d-flex justify-content-between">
          <%= link_to "Delete", delete_castle_path(castle), data: { "turbo-method": :delete }, class: "text-danger" %>
          <%= link_to "Edit", edit_castle_path(castle), class: "text-primary" %>
          </div>
        </div>
      <%end%>
      </div>
    <% end %>
  </div>
  <% if @incomming_bookings.any? { |b| b.accepted == false } %>
  <h3 class="my-5">Pending bookings</h3>
  <% end %>
  <% @incomming_bookings.each do |booking| %>
    <% if booking.accepted == false %>
      <div class="notification shadow">
        <%= image_tag booking.user.avatar, class: "avatar-large" %>
        <div class="notification-content">
          <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
          <p><%= booking.comment %></p>
        </div>
        <div>
          <%= link_to "Decline", booking_path(booking), data: { "turbo-method": :delete }, class: "btn btn-danger" %>
          <%= link_to "Confirm", confirm_booking_path(booking), data: { turbo_method: :put, turbo_confirm: "Are you sure you want to confirm this booking?"}, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @incomming_bookings.any? { |b| b.accepted } %>
    <h3 class="my-5">Accepted bookings</h3>
  <% end %>
  <% @incomming_bookings.each do |booking| %>
    <% if booking.accepted %>
      <div class="notification shadow">
        <% if booking.user.avatar.key %>
          <%= image_tag booking.user.avatar, class: "avatar-large" %>
        <% else %>
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <% end %>
        <div class="notification-content">
          <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
          <p><%= booking.comment %></p>
        </div>
        <p class="btn btn-success disabled">Confirmed</p>
      </div>
    <% end %>
  <% end %>

  <% if @mybookings.size > 0 %>
    <h3 class="my-5">My own bookings</h3>
  <% end %>
  <% @mybookings.each do |booking| %>
    <div class="notification shadow">
      <% if booking.user.avatar.key %>
        <%= image_tag booking.user.avatar, class: "avatar-large" %>
      <% else %>
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <% end %>
      <div class="notification-content">
        <p><small><%= booking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
        <p><%= booking.comment %></p>
      </div>
      <% if !booking.accepted %>
      <p class="btn btn-light disabled">Waiting for confirmation</p>
      <% else %>
      <p class="btn btn-success disabled">Booking confirmed</p>
      <% end %>
    </div>
  <% end %>
</div>
