<div class="d-flex">
  <div class="main_copy">
    <h3>Welcome to</h3>
    <h1>Bouncy Castles</h1>
    <p> Stop adulting and jump into the fun zone!</p>
    <p>Book your bouncy castle today or</p>
    <div class="d-inline">
      <%= link_to 'Rent out your bouncy castle', new_castle_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="map_and_search">
    <div class="index_map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="search_text_and_form">
      <p>Find bouncy castles close to you!</p>
      <form class="input-group w-50 right-align" role="search">
        <input class="form-control" type="search" id="query" name="query" placeholder="Your location" aria-label="Search">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container">

    <div class="row">
      <% @castles.each do |castle| %>
        <div class="col-4">
        <%= link_to(castle_path(castle)) do %>
          <div class="castle castle-overview">
            <div class="castle-img">
              <%= cl_image_tag(castle.photos[0].key)%>
            </div>
            <h4><%= link_to castle.name, castle_path(castle), class: 'castle-link'%></h4>
          </div>
        <%end%>
        </div>
      <% end %>
    </div>

</div>
