<!DOCTYPE html>
<html>
  <head>
    <title>BouncyCastles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>
  <body>


  <nav class="navbar navbar-expand-lg sticky-top bg-white my-2">
    <div class="container-fluid">

        <%= link_to root_path do %>
          <%= image_tag "Castle-Logo.png", width: 45, height: 39, alt: "Bouncy castle" %>
        <% end %>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "Bouncy Castles", root_path, class: "nav-link py-2 px-0 px-lg-2 fw-bold" %>
        </li>
      </ul>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <% if !current_user && !current_page?(new_user_session_path) %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if current_user %>
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if current_user %>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link" %>
            </li>
          <% end %>

          <% if !current_user && !current_page?(new_user_registration_path) %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>

  <% if notice %>
    <div class="alert alert-success d-flex align-items-center" role="alert">
      <div><%= notice %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div><%= alert %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= yield %>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link px-2 text-muted" %>
      </li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>

  </body>
</html>
